body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Oswald", serif;
  background-color: #f9f9f9;
}
main {
  margin-top: 100px !important;
}
/* =============================fonts start
============================================= */
.f-57 {
  font-size: 42px;
  font-weight: 700;
}
.f-45 {
  font-size: 35px;
  font-weight: 700;
}
.f-35 {
  font-size: 32px;
  font-weight: 400;
}
.f-32 {
  font-size: 28px;
  font-weight: 400;
}
.f-46 {
  font-size: 46px;
  font-weight: 700;
  color: #000000;
 
}
.f-40 {
  font-size: 40px;
}
.f-56 {
  font-size: 56px;
  font-weight: 700;
  color: #000000;
  text-transform: capitalize;
}
.f-22 {
  font-size: 22px;
}
.f-24 {
  font-size: 24px;
  font-weight: 700;
}
.f-18 {
  font-size: 18px;
  font-weight: 500;
}
.f-16 {
  font-size: 16px !important;
  font-weight: 400;
}

/* fonts colors */
.text-blue {
  color: #31406d;
}
.text-blue2{
  color: #31406D;
}
.text-lightt {
  color: rgba(112, 112, 112, 0.706);
}
.text-lightt-2 {
  color: #c1c6d3 !important;
}
.text-lightt-3 {
  color: #c1c6d3;
}
.no-decoration{
  text-decoration: none !important;
}

/* font wights */
.text-medium {
  font-weight: 500 !important;
}
.text-regular {
  font-weight: 400 !important;
}
.text-bold {
  font-weight: 700 !important;
}

/* ======================================fonts end
=================================================== */
.cursor {
  cursor: pointer;
}

/* ===========================Home Page========================== */
.top-bar {
  padding: 10px 0px !important;
  background-color: #f9f9f9;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 3px 30px #00000014;
}

.logo img {
  width: 300px;
  height: 60px;
}
.nav-link {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
}
.nav-btn {
  width: 170px;
  height: 50px;
  background-color: #ffce00;
  border-radius: 8px;
  opacity: 1;
  border: none;
}
.dropdown-menu {
  background-color: #f9f9f9;
}
.hero-section {
  background-image: radial-gradient(
      closest-side at 53% 50%,
      #31406d00 -20%,
      #31406dc7 64%,
      #31406d 100%
    ),
    url(./images/Mask\ Group\ 34.png);
  padding: 60px 0px;
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: cover;
  background-position: right;
  width: 100%;
}
.hero-section-1 {
  background-image: radial-gradient(
      closest-side at 53% 50%,
      #31406d00 -20%,
      #31406dc7 64%,
      #31406d 100%
    ),
    url(./images/Mask\ Group\ 43.png);
  padding: 60px 0px;
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: cover;
  background-position: right;
  width: 100%;
}
.hero-img {
  width: 501px;
  height: 100%;
}
.polichief-logo-graph {
  position: relative;
}
.polichief-logo {
  position: absolute;
  top: 37%;
  left: 24%;
  height: 50px;
  width: 130px;
}
.logo-img{
  height: 100px !important;
}
.nav-btn a{
  white-space: nowrap;
}
.cards-section{
position: relative;
z-index: 5;
}

/* footer */
.footer {
  background-color: #31406d;
  padding: 50px 0px 30px 0px;
}
.footicon {
  height: 22px;
  width: 22px;
}
.switch{
  border-radius: 7px;
}
.foot-img img {
  height: 68px;
  width: 68px;
  border-radius: 100%;
}

/* ==================================================
products page
============================================== */
.speak {
  background-image: linear-gradient(
      to right,
      rgba(49, 64, 109, 0.67),
      rgba(49, 64, 109, 0.67)
    ),
    url(./images/Mask\ Group\ 41.png);

  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  width: 100%;
  padding: 50px 50px;
  border-radius: 30px;
}
.demo-input {
  position: relative;
}
.demo-input input {
  background-color: #4f5d83;
  font-size: 16px;
  color: white;
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 11px;
  height: 72px;
}
.demo-input input::placeholder {
  color: white;
}

.email-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
.product-img {
  width: 80%;
}

/* -------------------------------
hero section
---------------------------------- */
.D-meting{
  background-image: radial-gradient(
      closest-side at 53% 50%,
      #31406d00 -480%,
      #31406dc7 64%,
      #31406d 100%
    ),
    url(./images//5D/meeting.png);
  padding: 60px 0px;
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: cover;
  background-position: right;
  width: 100%;
}
.table-heading{
  padding: 20px !important;
}

.bg-blue{
  background-color: #31406D;
}
.bg-sky{
  background-color: rgba(135, 207, 235, 0.179);
}
.conference-img{
  height: 300px;
  width: 99%;
}
.text-start{
  text-align: center !important;
}